.custom_cart_summary_class {
    border: none;
    #cart_total {
        margin-bottom: 16px;
    }
    td {
        font-size: 14px !important;
        span {
            font-size: 15px;
        }
    }
    #order_total {
        td {
            padding-top: 16px;
            font-weight: 600;
        }
    }
    .coupon_form {
        a {
            background-color: #d9981c;
            color: white;
        }
    }
    .color-white {
        color: white;
    }
}
